<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.jesjobom.ararai.ChatImageTestProvider"
            android:authorities="com.jesjobom.ararai.test.chat-image"
            android:exported="true" />
    </application>
</manifest>
